<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>transactions</title>
    <link rel="shortcut icon" href="../../assets/splitit-favicon-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="transactions.component.css">
</head>
<body>
    
    
    <header class="header-container">
        <div class="header-logo">
            <a href="../home/home.component.html"><img src="../../assets/splitit-favicon-logo.png" alt="Splitit-logo" width="50rem" height="50rem" ></a>
        </div>
        <button id="logout-btn">Logout</button>  
        
    </header>

    <div class="imp-links-container">

        <h4>Important Links</h3>

        <a href="">Add an Expense</a>
        <a href="">All Expenses</a>
        <a href="">Group Members</a>

    </div>

    <main>

        <div class="your-expenses-container">
            
            <h5>Your Expenses</h5>
            
            
        </div>
        
        
        <div class="add-expense-container">
            
            <h5>Add an Expense</h5>
            
            <div class="expense-form">
                
                <label for="expense-name">Expense Name</label>
                <input type="text" name="" id="expense-name">
                <br>

                <label for="expense-amount">Amount</label>
                <input type="number" id="expense-amount">
                <br>
                <!-- members involved -->
                
                <button id="add-expense">Add Expense</button>
                
            </div>
            
        </div>

        

    </main>
        
    </body>