*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    padding: 1rem;
    background-color: #dbd1d1;
}

.signup-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
}

.splitit-logo-signup{
    padding: 1rem;
    mix-blend-mode: multiply;
}

.header-text-signup{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome-msg{
    padding: 0.7rem;
}

.sign-up-form{
    padding-bottom: 2rem;
    
}

#sign-up-form-input-name{
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 2rem;
    opacity: 0.7;
}
#sign-up-form-input-name:hover{
    opacity: 1;
    border: 0.1rem solid rgb(0, 166, 255);
    box-shadow: 0.2rem 0.2rem rgb(0, 166, 255);
}


#sign-up-form-input-email{
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 2rem;
    opacity: 0.7;
}

#sign-up-form-input-email:hover{
    opacity: 1;
    border: 0.1rem solid rgb(0, 166, 255);
    box-shadow: 0.2rem 0.2rem rgb(0, 166, 255);
}

#sign-up-form-input-password{
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 2rem;
    opacity: 0.7;
    
}
#sign-up-form-input-password:hover{
    opacity: 1;
    border: 0.1rem solid rgb(0, 166, 255);
    box-shadow: 0.2rem 0.2rem rgb(0, 166, 255);
}

#sign-up-form-signup-button{
    display: grid;
    margin: auto;

    background-color: #04aa6d;
    color: white;
    font-size: large;
    padding: 0.7rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

#sign-up-form-signup-button:hover{
    background-color: #04aa6da0;
    color: rgb(46, 97, 0);
    
}

.tos-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-item{
    margin: 2rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    
}

#login-button{
    text-decoration: none;
    color: brown;
    font-size: large;
    font-weight: 500;
    opacity: 0.8;
}


#login-button:hover{
    color: rgb(198, 41, 67);
    font-weight: 600;
    opacity: 1;
}