*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
}

.header-container{
    width: 100vw;
    height: 5rem;
    padding-top: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    background-color: rgb(25, 138, 155);
    border-radius: 0.5rem;
    border: 0.1rem;
}

.header-logo{
    margin-top: -2.2rem;
}

.header-login{
    
    
    width: 3.5rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.4rem;
    font-family: 'oswald', 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-left: 81vw;
    padding-right: 2rem;
    
    background-color:rgba(255, 247, 8, 0.803);
    padding: 0.1rem;
    margin-bottom: auto;
}

.header-signup{
    width: 5rem;
    height: 2rem;
    text-align: center;
    
    border-radius: 0.4rem;
    font-family: 'oswald', 'Times New Roman', Times, serif;
    font-size: large;
    background-color:rgb(17, 186, 147);
    
    padding: 0.1rem;
    margin-top: 0.5rem;
    
    
}

.main-description{
    display: flex;
    flex-direction: column;
    
    align-items: center;
    

    background-color: rgb(212, 219, 212);
    
}

.content-container{
    padding: 3rem;
    padding-bottom: 2rem;
}

.group-photo{
    padding-bottom: 2rem;
    
}

.join-button-main{
    padding: 0.7rem;
    border-radius: 1rem;
    font-size: x-large; font-weight: 600;
    
    background-color: rgba(66, 190, 52, 0.786);
}

.description-text{
    padding: 1rem;  
    padding-top: 1.5rem;  
    font-weight: 900;
}
