*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    width: 100%;
    background-color: #dbd1d1;
}

.header-container{
    width: 100vw;
    height: 5rem;
    padding-top: 1rem;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    background-color: rgb(25, 138, 155);
    border-radius: 0.5rem;
    border: 0.1rem;
}

.header-logo{
    margin-top: -2.2rem;
}

.header-login{
    
    
    width: 3.5rem;
    height: 2rem;
    text-align: center;
    border-radius: 0.4rem;
    font-family: 'oswald', 'Times New Roman', Times, serif;
    font-size: large;
    font-weight: 500;
    margin-top: 0.5rem;
    margin-right: 1rem;
    margin-left: 81vw;
    padding-right: 2rem;
    
    background-color:rgba(255, 247, 8, 0.803);
    padding: 0.1rem;
    margin-bottom: auto;
}

.header-signup{
    width: 5rem;
    height: 2rem;
    text-align: center;
    
    border-radius: 0.4rem;
    font-family: 'oswald', 'Times New Roman', Times, serif;
    font-size: large;
    background-color:rgb(17, 186, 147);
    
    padding: 0.1rem;
    margin-top: 0.5rem;
    
    
}

.login-container{
    
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 1rem;
    
}

h2{
    padding: 1rem;
    margin: 1rem;
}

.login-form{
    margin: 1.5rem;
}


#sign-in-form-input-email{
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 2rem;
    opacity: 0.7;
}

#sign-in-form-input-email:hover{
    opacity: 1;
    border: 0.1rem solid rgb(0, 166, 255);
    box-shadow: 0.2rem 0.2rem rgb(0, 166, 255);
}

#sign-in-form-input-password{
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 0.5rem;
    border-radius: 2rem;
    opacity: 0.7;
    
}
#sign-in-form-input-password:hover{
    opacity: 1;
    border: 0.1rem solid rgb(0, 166, 255);
    box-shadow: 0.2rem 0.2rem rgb(0, 166, 255);
}

#sign-in-form-login-button{

    background-color: #04aa6d;
    color: white;
    font-size: large;
    padding: 0.7rem;
    border-radius: 2rem;
    border: none;
    cursor: pointer;
    width: 6rem;
    opacity: 0.9;
}

#sign-in-form-login-button:hover{
    background-color: #04aa6da0;
    color: rgb(46, 97, 0);
    
}

.tos-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-item{
    margin: 2rem;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: 600;
    
}

#login-button{
    text-decoration: none;
    color: brown;
    font-size: large;
    font-weight: 500;
    opacity: 0.8;
}
