<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="shortcut icon" href="../../assets/splitit-favicon-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="dashboard.component.css">
</head>
<body>

    <header class="header-container">
        <div class="header-logo">
            <a href="../home/home.component.html"><img src="../../assets/splitit-favicon-logo.png" alt="Splitit-logo" width="50rem" height="50rem" ></a>
        </div>
    <button id="logout-btn">Logout</button>  

    </header>
    
    <div class="container">
    
        <div class="left-container">
    
            <div class="para">
                <p class="introduction">
                    Groups are perfect for apartments, trips and other situations where the same set of people share a large number of expenses.
                </p>
    
                <p class="introduction-line-2">
                    If you have travelled recently, and worried about expenses split, create a group and start splitting
                    <i class="fa-regular fa-face-smile smiley"></i>
                </p>
            </div>
    
            <div>
                <button id="create-group-btn-fixed" class="create-group-btn">Create Group</button>
            </div>
    
        </div>
    
        <div class="right-container">
    
            <h2>Your Groups</h2>
    
            <div class="no-group-msg">
    
                <p class="no-group-msg">
                    You are not part of any group currently. Create a group, and start
                    Splitting
                </p>
    
                <div >
                    <button id="create-group-btn-fixed" class="create-group-btn">Create Group</button>
                </div>
    
            </div>
        </div>
    </div>
    
    
</body>
</html>