<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    
    <link rel="shortcut icon" href="../../assets/splitit-favicon-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="signup.component.css">

</head>
<body>

    <div class="container">

        <header class="signup-header">
            <div class="splitit-logo-signup">
                <img src="../../assets/splitit-img-logo.png" alt="logo" width="40px" height="40px">
            </div>
            
            <div class="header-text-signup">
                <h1 class="welcome-msg">Welcome to Split it</h1>
                <h3 class="tagline-signup">Expense sharing made easy</h3>
            </div>
        </header>
        
        <div class="sign-up-form">
            <form>
                
                <label for="sign-up-form-input-name">Name</label>
                <br>
            <input type="text" name="sign-up-form-input-name" id="sign-up-form-input-name" placeholder="John">
            <br>
            
            <label for="sign-up-form-input-email">Email</label>
            <br>
            <input type="email" name="sign-up-form-input-email" id="sign-up-form-input-email" placeholder="abcd@gmail.com">
            <br>
            
            <label for="sign-up-form-input-password">Password</label>
            <br>
            <input type="password" name="sign-up-form-input-password" id="sign-up-form-input-password" placeholder="Create a password">
            <br>
            
            <input type="submit" value="Sign up" id="sign-up-form-signup-button">

        </form>
        </div>
        
        <span class="tos-text">By continuing, you agree to Split it's 
            <div class="tos-text-sign-up">Terms of Service</div>
            and acknowledge you've read our
            Privacy Policy
        </span>
        
        <div class="login-item">
        <span>Already a member?</span>
        <br>    
        <a href="../login/login.component.html" id="login-button">Log in</a>
        </div>

    </div>
    
</body>
</html>