<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Split it</title>
    <link rel="shortcut icon" href="../../assets/splitit-favicon-logo.png" type="image/x-icon">
    <link rel="stylesheet" href="home.component.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
</head>
<body>
    
    <header class="header-container">

        <div class="header-logo"> 
            <img src="../../assets/Splitit-logo-bg-removed.png" alt="Logo" height="120rem" width="120rem" >  
        </div>

        <div class="btn-container">

            <div class="header-login">
                <a href="../login/login.component.html" style="text-decoration: none;">Login</a>
            </div>
            
            <div class="header-signup">
                <a href="../signup/signup.component.html" style="text-decoration: none;">Sign up</a>           
            </div>
            
        </div>
    </header>

    <main class="main-description">

        <div class="content-container">

            <h1 class="tagline-heading">Seamlessly split expenses, effortlessly simplify friendships.</h1>

        </div>

        <div class="group-photo">
            <img src="../../assets/splitit-group-photo.png" alt="group-photo" width="300rem" height="300rem" style="mix-blend-mode: multiply;">
            

        </div>

        <div class="join-button-main">

            <a href="../signup/signup.component.html" style="text-decoration: none; color: rgb(159, 22, 174);">Start Journey</a>

        </div>

        <p class="description-text">Keep track of your shared expenses and balances with housemates, trips, groups, friends, and family.</p>

    </main>


</body>
</html>